aioredis==2.0.1
blinker==1.5
cryptography==38.0.1
ipython==8.5.0
ipywidgets==8.0.2
mongoengine==0.24.2
nest-asyncio==1.5.5
numpy==1.23.3
scipy==1.9.1
portalocker==2.5.1
PyVISA==1.12.0
PyVISA-py==0.5.3
PyYAML==6.0
pyzmq==23.2.1
redis==4.3.4
u-msgpack-python==2.7.1

pywin32==304; platform_system=="Windows"
contextvars==2.4; python_version<"3.7"
dataclasses==0.8; python_version<"3.7"