aioredis==1.3.1
blinker==1.4
cryptography==2.8
ipython==7.12.0
ipywidgets==7.5.1
mongoengine==0.19.1
nest-asyncio==1.2.0
numpy==1.18.1
scipy==1.4.1
portalocker==1.5.1
PyVISA==1.10.1
PyVISA-py==0.3.1
PyYAML==5.3
pyzmq==18.1.1
redis==3.3.11
u-msgpack-python==2.5.2

pywin32==225; platform_system=="Windows"
contextvars==2.4; python_version<"3.7"
dataclasses==0.7; python_version<"3.7"