aioredis==2.0.1
blinker==1.6.2
cryptography==41.0.3
ipython==8.15.0
ipywidgets==8.1.1
mongoengine==0.27.0
nest-asyncio==1.5.8
numpy==1.26.0
scipy==1.11.2
portalocker==2.8.2
PyVISA==1.13.0
PyVISA-py==0.7.0
PyYAML==6.0.1
pyzmq==25.1.1
redis==5.0.0
u-msgpack-python==2.6.0

pywin32==227; platform_system=="Windows"
contextvars==2.4; python_version<"3.7"
dataclasses==0.7; python_version<"3.7"